*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(137, 76, 180),rgb(162, 32, 177));
    color: white;
    padding-top: 4%;
    padding-left: 8%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 i{
    width: 45px;
}
.container button i{
    width: 20px;
    margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(135deg,rgb(91, 41, 127),rgb(114, 7, 125));
    color: white;
    font-size: 16px;
    border: none;
    outline: 0;
    margin-top: 20px;
    margin-left: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 90%;
    max-width: 500px;
    min-height: 150px;
    background: white;
    color: black;
    border: none;
    outline: 0;
    padding: 20px;
    margin: 20px ;
    border-radius: 5px;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}